html, body {
  height: 100%;
  background-color: #60a5da;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #fff;
}

body {
  height: 80%;
  margin-top: 10%;
}

.container {
    width: 60%;
}

.avatar {
  width: 30%;
}

form {
    margin-top: 3em
}

#username {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-top: 1em;
}

.btn,
.btn:active,
.btn:hover,
.btn:focus {
  background-color: #60a5da;
  border: 1px solid #fff;
  color: #fff;
}

.learn-more {
    margin-top: 4em;
}

.learn-more a {
    color: #eee;
}
